!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
     <nav>
        <a href="index.html">Inicio</a>
        <a href="horarios.html">Horarios</a>
        <a href="acerca.html">Acerca de</a>
        <a href="recursos.html">Recursos</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <h1>¿Qué técnicas aprenderás?</h1>
    <h3>Contouring</h3>
    <h3>Highlighting</h3>
    <h3>Blending</h3>
    <h3>Cut crease</h3>
    <h3>Smokey eye</h3>
    <h3>Baking</h3>
    <h3>Draping</h3>
    <h3>Ombre lips</h3>
    <h3>Tightlining</h3>
    <h3>Strobing</h3>
    <h3>Layering</h3>
    <h3>Color correcting</h3>
</body>
</html>