<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
      <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
     <nav>
        <a href="../index.html">Inicio</a>
        <a href="horarios.html">Horarios</a>
        <a href="acerca.html">Acerca de</a>
        <a href="recursos.html">Recursos</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <H1>Puedes contactarte con nosotros desde nuestras redes sociales:</H1>

    <h3>Instagram: <a href="https://www.Instagram.com">Make_up</a></h3>
    <h3>Número: 3855880927</h3>
    <h3>Ubicación: Bello</h3>
</body>
</html>