<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios</title>
     <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
     <nav>
        <a href="../index.html">Inicio</a>
        <a href="horarios.html">Horarios</a>
        <a href="acerca.html">Acerca de</a>
        <a href="recursos.html">Recursos</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <H1>Nuestros horarios son:</H1>

    <h3>Lunes de 4pm a 7pm.</h3>
    <h3>Miércoles de 5pm a 8pm.</h3>
    <h3>Domingos de 1pm a 4pm.</h3>

    
</body>
</html>