!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
     <nav>
        <a href="../index.html">Inicio</a>
        <a href="horarios.html">Horarios</a>
        <a href="acerca.html">Acerca de</a>
        <a href="recursos.html">Recursos</a>
        <a href="contacto.html">Contacto</a>
    </nav>
<h1>Materiales:</h1>
<h2>Materiales que debes llevar:</h2>
<h3>Preparación de la piel</h3>
<h3>Maquillaje básico (rostro)</h3>
<h3>Ojos</h3>
<h3>Labios</h3>
<h3>Herramientas personales</h3>
<h3>Higiene</h3>

<h2>Materiales que te brinda el curso:</h2>
<h3>Productos profesionales</h3>
<h3>Herramientas y equipo</h3>
<h3>Apoyo educativo</h3>
<h3>Modelos de práctica (opcional)</h3>

    <h2>Curso por un costo de 48.000 al día.</h2>
</body>
</html>